<?xml version="1.0" encoding="utf-8" ?>

<log4net>
  <appender name="InfoLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file value="%property{FilesPath}/Info/"  type="log4net.Util.PatternString"/>
    <datePattern value="yyyy-MM-dd.'txt'"/>
    <staticLogFileName value="false"/>
    <appendToFile value="true"/>
    <rollingStyle value="Date"/>
    <maxSizeRollBackups value="100"/>
    <maximumFileSize value="25MB"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level App  %newline %message %newline %newline"/>
    </layout>
  </appender>
<appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file type="log4net.Util.PatternString" value="%property{FilesPath}/Exception/" />
    <datePattern value="yyyy-MM-dd.'txt'"/>
    <staticLogFileName value="false"/>
    <appendToFile value="true"/>
    <rollingStyle value="Date"/>
    <maxSizeRollBackups value="100"/>
    <maximumFileSize value="25MB"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level App  %newline %message %newline %newline"/>
    </layout>
  </appender>

<logger name="ErrorLogFile" additivity="false">
      <level value="ERROR" />
<appender-ref ref="ErrorLogFileAppender"/>
    </logger>
<logger name="InfoLogFile" additivity="false">
      <level value="INFO" />
<appender-ref ref="InfoLogFileAppender"/>
    </logger>

</log4net>
